[submodule "cwm4"]
	path = cwm4
	url = https://github.com/CarloWood/cwm4.git
	branch = master
[submodule "utils"]
	path = utils
	url = https://github.com/CarloWood/ai-utils.git
	branch = master
[submodule "cwd"]
	path = cwd
	url = https://github.com/CarloWood/cwd.git
	branch = master
[submodule "threadsafe"]
	path = threadsafe
	url = https://github.com/CarloWood/ai-threadsafe.git
	branch = master
